<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title class="text-center">FoxFin</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <!-- Login de usuário -->
      <mat-tab label="Login">
          <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" #formDir="ngForm">
              <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input
                  matInput
                  placeholder="email@exemplo.com"
                  required
                  formControlName="email">
                <mat-icon matSuffix>mail</mat-icon>
                <mat-error *ngIf="emailLogin.errors?.['required']">
                  O e-mail é obrigatório
                </mat-error>
                <mat-error *ngIf="emailLogin.errors?.['email']">
                  E-mail inválido
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input
                  matInput
                  type="password"
                  required
                  minlength="6"
                  formControlName="password">
                  <mat-icon matSuffix>lock</mat-icon>
                  <mat-error *ngIf="passwordLogin.errors?.['required']">
                    A senha é obrigatória
                  </mat-error>
                  <mat-error *ngIf="passwordLogin.errors?.['minlength']">
                    A senha precisa ter pelo menos 6 caracteres
                  </mat-error>
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="login-button">
                Login
              </button>
            </form>
          </mat-card-content>
      </mat-tab>
      <!-- Cadastro de usuário -->
      <mat-tab label="Cadastre-se">
        <mat-card-content>
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <mat-form-field appearance="outline">
              <mat-label>Nome de usuário</mat-label>
              <input
                matInput
                required
                formControlName="name">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="nameRegister.errors?.['required']">
                O nome de usuário é obrigatório
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input
                matInput
                placeholder="email@exemplo.com"
                required
                formControlName="email">
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="emailRegister.errors?.['required']">
                O e-mail é obrigatório
              </mat-error>
              <mat-error *ngIf="emailRegister.errors?.['email']">
                E-mail inválido
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input
                matInput
                type="password"
                required
                minlength="6"
                formControlName="password">
                <mat-error *ngIf="passwordRegister.errors?.['required']">
                  A senha é obrigatória
                </mat-error>
                <mat-error *ngIf="passwordRegister.errors?.['minlength']">
                  A senha precisa ter pelo menos 6 caracteres
                </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirme sua senha</mat-label>
                <input
                matInput
                type="password"
                required
                minlength="6"
                formControlName="password_confirmation">
                <mat-error *ngIf="passwordConfRegister.errors?.['required']">
                  A confirmação de senha é obrigatória
                </mat-error>
                <mat-error *ngIf="passwordConfRegister.errors?.['minlength']">
                  A confirmação de senha precisa ter pelo menos 6 caracteres
                </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              class="login-button">
              Cadastrar-se
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
